<div id="<%= dom_id funeral %>">
  <p>
    <strong>First name:</strong>
    <%= funeral.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= funeral.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= funeral.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= funeral.date_of_birth %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= funeral.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= funeral.phone %>
  </p>

  <p>
    <strong>Street address:</strong>
    <%= funeral.street_address %>
  </p>

  <p>
    <strong>Apt or suite number:</strong>
    <%= funeral.apt_or_suite_number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= funeral.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= funeral.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= funeral.zip %>
  </p>

  <p>
    <strong>Funeral home name:</strong>
    <%= funeral.funeral_home_name %>
  </p>

  <p>
    <strong>Funeral home city:</strong>
    <%= funeral.funeral_home_city %>
  </p>

  <p>
    <strong>Name of deceased:</strong>
    <%= funeral.name_of_deceased %>
  </p>

  <p>
    <strong>Purchase amount:</strong>
    <%= funeral.purchase_amount %>
  </p>

  <p>
    <strong>Credit check authorized:</strong>
    <%= funeral.credit_check_authorized %>
  </p>

  <p>
    <strong>Electronic disclosures authorized:</strong>
    <%= funeral.electronic_disclosures_authorized %>
  </p>

  <p>
    <strong>Bank name:</strong>
    <%= funeral.bank_name %>
  </p>

  <p>
    <strong>Bank account number:</strong>
    <%= funeral.bank_account_number %>
  </p>

  <p>
    <strong>Bank routing number:</strong>
    <%= funeral.bank_routing_number %>
  </p>

  <p>
    <strong>Automatic withdrawal authorized:</strong>
    <%= funeral.automatic_withdrawal_authorized %>
  </p>

</div>
